ul {
    list-style-type: none;
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #277BC0;
    }

li {
    float: left;
    }
li1{
    float: left;
    margin-left: 100px;
    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color:#2167a1;
}


.parallax
{
    background-image: url(gedung-2-filter.png);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    transform: translate(0,0);
    padding: 50px 0;
}
.konten-tengah {
    background-color: rgba(6,71,128,0.64);
    padding: 20px;
    font-size: 14px;
    /* margin-right: -25px; */
    /*-webkit-border-image: 10px;*/
    border-end-end-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 10%;
}
.footer-top
{
    overflow: hidden;
    padding: 15px 0;
    background-color: #ed3237;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 15%);
}
.footer-mid
{
    padding: 30px 0;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #aaa;
    background: #222;
}
.footer-bot {
    padding: 15px 0;
    overflow: hidden;
    font-size: 13px;
    color: #fff;
    background-color: #111;
}
.h1fasilitas
{
    font-size: 50px;
}
.button {
    background-color: white; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent; 
    color: white; 
    border: 5px solid white;
    border-radius: 12px;
}